@media (min-width: 850px) {

    .sociais-mobile {
        display: none;
    }

    hr {
        display: none;
    }

}

@media (max-width: 850px) {
    .sociais-desktop {
        display: none;
    }

    .localizacao {
        margin-bottom: 50px;
    }
}

@media (max-width: 500px) {

    .card {
        width: 23rem;
        height: 38rem;
    }

    .card-frame {
        width: 23rem;
        height: 38rem;
    }

    .localizacao {
        margin-bottom: 40px;
    }

    .sobre-mim {
        font-size: 16px;
    }

    .sociais-mobile ul {
        width: 250px;
        margin-bottom: -15px;
    }

    .sociais-mobile .house {
        margin-bottom: 9px;

    }

    .sociais-mobile svg {
        height: 3.7rem;
        width: 3.7rem;
    }
}

@media (max-width: 400px) {

    .card {
        width: 20rem;
        height: 33rem;
    }

    .card-frame {
        width: 20rem;
        height: 33rem;
    }

    .localizacao {
        margin-bottom: 30px;
    }

    .sobre-mim {
        font-size: 14px;
    }

    .sociais-mobile svg {
        height: 3.4rem;
        width: 3.4rem;
    }

}

@media (max-width: 330px) {
    .card {
        width: 17rem;
        height: 25rem;
    }

    .card img {
        width: 6rem;
    }

    .card-frame {
        width: 17rem;
        height: 25rem;
    }

    .localizacao {
        margin-bottom: 12px;
    }

    .sociais-mobile ul {
        width: 200px;
        gap: 10px;
    }

    .sociais-mobile svg {
        height: 3.2rem;
        width: 3.2rem;
    }
}